:javascript
    var cursor = $(function(){
      $("#typed").typed({
            strings: ["boobs?", "melons?", "tits?", "cats?"],
            typeSpeed: 50,
            backDelay: 750,
            loop: true,
            loopCount: false,
            cursorChar: "|"
        });
    });

    function newTyped(){ /* A new typed object */ }

   
