!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      ="Hello, #{@picture.category.title} category added"
    %br
    %p
      To login to the site, just follow this link:
      =link_to 'Tits', "http://localhost:3000/pictures"