%tr
  -if current_page?(controller: 'comments', action: 'index')
    %td
      =link_to name_or_email(comment), user_path(comment.user.id)
  %td{style: 'width: 400px'}
    =link_to image_tag(comment.picture.url, class: 'img-small'), picture_path(comment.picture.id)
  %td
    =comment.text
  %td
    =time_ago_in_words comment.created_at
