%tr
  %td
    =link_to (user.name ? user.name : user.email), user_path(user.id)
  %td
    =link_to "Navigation", user_path(user.id)
  %td
    =time_ago_in_words user.last_sign_in_at if user.last_sign_in_at
  %td
    =time_ago_in_words user.last_sign_out_at if user.last_sign_out_at
  %td
    =link_to "Comments", comment_path(user.id)
  %td
    =link_to "Likes", like_path(user.id)
  %td
    =link_to "Delete", user, method: :delete, remote: true, class: "delete"
