%table.table.table-striped.table-hover
  %tr
    %th
      Name
    %th
      Events
    %th
      Last Sign in
    %th
      Last Sign Out
    %th
      Comments
    %th
      Likes
  =render @users
