.container
  .row
    .col-md-2
    %table.table.table-condensed.table-hover.table-opacity
      %tr
        %th
          Name
        %th
          Events
        %th
          Last Sign in
        %th
          Last Sign Out
        %th
          Comments
        %th
          Likes
        %th
          Delete
      =render @users
