:javascript
    $(function(){
      $("#typed").text("Wanna see some ");
      $("#typed").typed({
            strings: ["boobs?", "melons?", "tits?", "cats?"],
            typeSpeed: 50,
            backDelay: 750,
            loop: true,
            loopCount: false,
            cursorChar: "|"
        });

    });

   
