.page-center
  =image_tag(@picture.category.title + '/' + @picture.image_identifier, class: 'modal-img')
-@picture.comments.each do |comment|
  .modal-comment-container
    .comment-avatar
      =image_tag('http://plainicon.com/dboard/userprod/2802_db2aa/prod_thumb/plainicon.com-39365-256px.png', size: '50x50')
    .content-container
      .comment-name
        =link_to comment.user.email, user_path(comment.user.id)
      .comment-text
        =comment.text
    .comment-delete-button
      =link_to 'Delete', comment, method: :delete, remote: true, class: 'delete-button'

=render 'comments/comment_form'