.page-center
  .image-container
    .image-like
      .greatheart
        %i.fa.fa-heart{"aria-hidden" => "true"}
    =image_tag(@picture.category.title.to_s + '/' + @picture.image_identifier.to_s, class: 'modal-img')
  .category-name
    =@picture.category.title.capitalize
  =link_to 'Subscribe', subscribe_path(:user_id => current_user.id, :category_id => @picture.category.id), class: 'subscribe-button'

-@picture.comments.each do |comment|
  .modal-comment-container    
    .comment-avatar
      =image_tag('http://plainicon.com/dboard/userprod/2802_db2aa/prod_thumb/plainicon.com-39365-256px.png', size: '50x50')
    .content-container
      .comment-name
        =link_to comment.user.email, user_path(comment.user.id)
      .comment-text
        =comment.text
    .comment-delete-button
      =link_to 'Delete', comment, method: :delete, remote: true, class: 'delete-button'




=render 'comments/comment_form'