.col-md-2.align
  -if picture.category
    .cropper
      =link_to image_tag(picture.category.title + '/' + picture.image_identifier, class: 'middle-img'), picture, {remote: true, class: 'picture_link'}
      .commented
        ="#{t(:last_comment)}: #{picture.comments&.last&.text}"
        %br
        ="#{t(:author)}: #{picture.comments&.last&.user&.email}"
      .img-info
        .bigheart
          %i.fa.fa-heart{"aria-hidden" => "true"}
        


