.col-md-2.align
  -if picture.category
    .cropper
      =image_tag (picture.category.title + '/' + picture.image_identifier.to_s), class: "middle-img"
      .commented
        ="Last comment: #{picture.comments&.last&.text}"
        %br
        ="Author: #{picture.comments&.last&.user&.email}"
      .img-info
        .bigheart
          %i.fa.fa-heart{"aria-hidden" => "true"}

