.modal.fade#pictureModal
  .modal-dialog
    .modal-content
      .modal-header
      .modal-body
      .modal-footer

   
.containter{style: "margin-top: 100px"}
  .row
    .col-md-1
    =render @pictures

.container-fluid
  .row
    .col-md-4
    .col-md-4
      =paginate @pictures

:javascript
  $('img').on('click', function(){
  	$('#pictureModal').modal('show');
  });