=render 'pictures/shared/modal'

.containter{style: "margin-top: 100px"}
  .row
    .col-md-1
    =render @pictures

.creator
  =form_for Picture.new do |f|
    =f.select :category_id, options_from_collection_for_select(@categories, 'id', 'title')
    =f.file_field :image
    =f.submit 'Send'



=paginate @pictures


    