.page-center.big
  =link_to "To all pics", categories_path
  %br
  ="Likes: #{@picture.likes.count}"

.image-center
  =link_to image_tag(@picture.url, class: 'show-img'), @next

=if current_user
  .page-center.large
    =button_to "Like", { controller: 'likes', action: 'create', :user_id => current_user.id, :picture_id => @picture.id }, :method => 'post' 
    =link_to "<<< Prev", @prev
    =" | "
    =link_to "Next >>>", @next



-@comments.each do |comment|
  .comment-block
    .comment-author
      =link_to comment.user.email, user_path(comment.user)
    .comment
      =comment.text
    .delete-button
      =link_to "Delete", [comment.picture, comment], :method => 'delete'

-if current_user
  .page-center
    =form_for([@picture, @picture.comments.build]) do |f|
      =f.label :text
      =f.text_field :text
      =f.submit
