/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-image: image-url('back3.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
}

img {
	&:hover {
		cursor: pointer;
	};
}


/*### Bootstrap gutter*/
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/*###*/

.large { font-size:  50px; }
.big   { font-size:  25px; }
.big2  { font-size:  16px; }
.top   { margin-top: 150px;}


.layout-wide {
	margin: 0 auto;
	width: 60%;
	margin-top: 300px;
}


.layout-center {
	text-align: center;
}

.page-center {
	text-align: center;
}


/*
### Wanna see some boobs ###
*/
.wanna-see {
	position: fixed;
	left: 250px;
	top: -100px;
}

/*
### Logger Style ###
*/

#logger {
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	padding: 10px;

	position: fixed;
	top: 700px;
	right: 0;
	background-color: black;
}

.log {
	font-size: 12px;
}

#hidebutton {
	position: fixed;
	top: 350px;
	left: 25px;
	border: 2px solid black;
	border-radius: 10px;
	width: 100px;
	height: 25px;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	&:hover {
		background-color: black;
		color: snow;
		cursor: pointer;
	}
}

#showbutton {
	position: fixed;
	top: 350px;
	left: 150px;
	border: 2px solid black;
	border-radius: 10px;
	width: 100px;
	height: 25px;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	&:hover {
		background-color: black;
		color: snow;
		cursor: pointer;
	}
}


/*### bottom navbar margin ###*/
.jump {
	bottom: 50px;
}

