/*Categories styles*/

.category-cell {
	display: inline-block;
	float:left;
	width: 48%;
	height: 200px;
	background-color: AliceBlue;
	text-align: center;
	margin: 1%;

}

.category-style {
	line-height: 200px;
	font-size: 30px;
	color: black;
	transition: 0.5s;

	&:hover {
		cursor: pointer;
		font-size: 50px;
		background-color: Aquamarine;
	}
}

.category-backward {
	font-size: 20px;
	text-align: center;
	padding: 5px;
}