.invisible {
	background-color: rgba(255, 255, 255, 0.75);
}

.big {
	font-size: 25px;
}

.big2 {
	font-size: 16px;
}

.layout {
	//background-color: azure;
	padding-top: 25px;
	height: 100vh;
	margin: 0 auto;
	width: 50%;
}

.page-center {
	text-align: center;
}

.image-center {
	text-align: center;
}

.show-img {
	width: 500px;
	margin-bottom: 10px;	
}

.middle-img {
	width: 300px;
	margin-bottom: 10px;
}

.navbar-margin {
	margin-right: 25px;
}
