.login-form {
	h2 { color: snow; }

	.checkbox {color: snow;}

	background-color: rgba(1, 1, 1, 0.5);
	position: fixed;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	opacity: 1;
	transition: 1s;

	//color: snow;

	a {
		display: block;
		padding: 5px 20px;
		line-height: 25px;
		width: 100%;
		font-family: "Lucida Console", Monaco, monospace;
		color: snow;
		transition: 0.5s;

		&:hover {
			background-color: rgba(1, 1, 1, 0.5);
			text-decoration: none;
			color: snow;
		}
	}

	li {
		transition: 0.5s;
		&:hover {
			background-color: rgba(1, 1, 1, 0.5);
			cursor: pointer;
		};
	}

}


/*### 6 characters minimun in Sign Up form*/
.snow {
	color: snow;
	font-size: 16px;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.social-elem {
	display: inline-block;
	padding-bottom: 10px;
}

input[type=submit] {
	width: 100%;
	line-height: 35px;
	border: none;
	background-color: rgba(0, 255, 128, 0.6);
	transition: 0.5s;

	&:hover {
		background-color: rgba(0, 255, 128, 1);

	};
}