// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-author {
	font-size: 30px;
	color: indigo;
	font-family: Impact, Charcoal, sans-serif; 
	//"Lucida Console", Monaco, monospace;
	margin-bottom: 15px;
}

table {
	font-weight: bold;
}

.table-opacity {
	background: rgba(255, 255, 255, 0.75);
}