.category-backward
  =link_to 'Go back to categories', categories_path

.page-center
  =paginate @pictures

=render @pictures

.page-center
  =paginate @pictures

.category-backward
  =link_to 'Go back to categories', categories_path
